<div class="columns-1">
  <p-table
    showGridlines
    stripedRows
    class="inline-block w-full"
    [paginator]="true"
    [rows]="5"
    [value]="activeIpos"
    [size]="tableSize"
  >
    <ng-template pTemplate="caption">
      <h2 class="text-center">Active IPOs</h2>
    </ng-template>
    <ng-template #header>
      <tr>
        <th style="min-width: 130px">Name</th>
        <th>Price</th>
        <th>Investment</th>
        <th style="min-width: 120px">Opening On</th>
        <th style="min-width: 120px">Closing On</th>
        <th>GMP</th>
        <th>Suggestion</th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template #body let-activeIpo *ngIf="!isLoading">
      <tr>
        <td class="name-overflow-hide" pTooltip="{{ activeIpo.name }}">
          {{ activeIpo.name }}
        </td>
        <td>{{ activeIpo.price | currency : "INR" : "symbol" : "1.0-0" }}</td>
        <td>
          {{
            activeIpo.minimumInvestment | currency : "INR" : "symbol" : "1.0-0"
          }}
        </td>
        <td>{{ activeIpo.openDate | date : "dd MMM" }}</td>
        <td>{{ activeIpo.closeDate | date : "dd MMM" }}</td>
        <td>{{ activeIpo.gmp }}</td>
        <td>
          <p-tag
            *ngIf="activeIpo.suggestion"
            [severity]="
              activeIpo.suggestion === 'apply'
                ? 'success'
                : activeIpo.suggestion === 'avoid'
                ? 'danger'
                : activeIpo.suggestion === 'may apply'
                ? 'warn'
                : 'danger'
            "
            value="{{ activeIpo.suggestion | uppercase }}"
          />
        </td>
        <td>
          <button
            (click)="onPinClick(activeIpo.symbol)"
            pTooltip="Pin"
            class="cursor-pointer pr-1 pl-1 hover:bg-stone-800 active:bg-stone-950 rounded-md"
          >
            📌
          </button>
        </td>
        <td>
          <button
            *ngIf="activeIpo.review"
            (click)="onReviewClick(activeIpo.name,activeIpo.review)"
            pTooltip="Review"
            class="cursor-pointer pr-1 pl-1 hover:bg-stone-800 active:bg-stone-950 rounded-md"
          >
            👁️‍🗨️
          </button>
        </td>
      </tr>
    </ng-template>

    <!-- Row loader starts -->
    <ng-template pTemplate="emptymessage">
      <tr *ngIf="!isLoading">
        <td colspan="9">No active IPOs</td>
      </tr>

      <tr class="animate-pulse" *ngIf="isLoading">
        <td>
          <div class="m-0 h-4 bg-gray-800 rounded w-full animate-pulse"></div>
        </td>
        <td>
          <div class="m-0 h-4 bg-gray-800 rounded w-full animate-pulse"></div>
        </td>
        <td>
          <div class="m-0 h-4 bg-gray-800 rounded w-full animate-pulse"></div>
        </td>
        <td>
          <div class="m-0 h-4 bg-gray-800 rounded w-full animate-pulse"></div>
        </td>
        <td>
          <div class="m-0 h-4 bg-gray-800 rounded w-full animate-pulse"></div>
        </td>
        <td>
          <div class="m-0 h-4 bg-gray-800 rounded w-full animate-pulse"></div>
        </td>
        <td>
          <div class="m-0 h-4 bg-gray-800 rounded w-full animate-pulse"></div>
        </td>
        <td>
          <div class="m-0 h-4 bg-gray-800 rounded w-full animate-pulse"></div>
        </td>
        <td>
          <div class="m-0 h-4 bg-gray-800 rounded w-full animate-pulse"></div>
        </td>
      </tr>
    </ng-template>
    <!-- Row loader ends -->
  </p-table>
</div>

<p-dialog [(visible)]="visible" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap">{{dialogInfo.name}}</span>
    </div>
  </ng-template>
  <div class="" [innerHtml]="dialogInfo.review">
  </div>
</p-dialog>
