.container {
  display: inline-block;
  border: 1px solid black;
  padding: 0.5vw;
  font-size: medium;
  font-family: sans-serif;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
  margin-top: 0.5vw;
  text-align: center;
  border-radius: 0.3vw;
  width: 135px;
  .heading {
    font-weight: bold;
  }
}
